::-webkit-scrollbar {
  width: 8px;
  height: 1px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #5d5d5d; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #EDEDED; }

.sidebar {
  position: fixed;
  right: -100px;
  top: 40%;
  width: 90px;
  z-index: 100; }
  .sidebar ul {
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 8px #f16d6d; }
    .sidebar ul li {
      border-bottom: 1px solid #fff;
      background: #ec6200;
      padding: 5px 0; }
      .sidebar ul li img {
        display: block;
        width: 52px;
        margin: 5px auto; }
      .sidebar ul li span {
        color: #fff;
        font-size: 18px;
        display: block;
        width: 100%;
        text-align: center; }
    .sidebar ul li:last-child {
      border: none; }
  .sidebar .return-top {
    overflow: hidden;
    display: none;
    cursor: pointer; }
    .sidebar .return-top img {
      display: block;
      margin: 18px auto 0; }

.phone-alert {
  display: none;
  background: #ec6200;
  overflow: hidden;
  padding: 24px 24px 16px;
  position: fixed;
  z-index: 1000;
  top: 300px;
  left: 50%;
  width: 570px;
  box-sizing: border-box;
  margin-left: -285px; }
  .phone-alert h1 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    font-weight: normal; }
  .phone-alert h2 {
    font-size: 47px;
    color: #fff;
    font-weight: normal;
    line-height: 1;
    margin-bottom: 11px; }
  .phone-alert .phone-input {
    overflow: hidden;
    margin-bottom: 16px; }
    .phone-alert .phone-input input[type="text"] {
      width: 420px;
      float: left;
      background: #fff;
      border: none;
      color: #333;
      font-size: 18px;
      padding: 12px 10px;
      box-sizing: border-box;
      outline: none; }
    .phone-alert .phone-input input[type="button"] {
      width: 102px;
      float: left;
      background: #ba4c00;
      border: none;
      font-size: 18px;
      padding: 12px 0;
      color: #fff;
      cursor: pointer; }
    .phone-alert .phone-input input[type="button"]:hover {
      background: #9e4100; }
  .phone-alert .zx {
    display: block;
    width: 100%;
    background: #ba4c00;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 8px 0;
    clear: both; }
  .phone-alert .zx:hover {
    background: #ad4700; }
  .phone-alert .phone-close {
    position: absolute;
    top: 24px;
    right: 24px; }
    .phone-alert .phone-close img {
      display: block;
      width: 36px;
      cursor: pointer; }

#allList {
  display: none; }

.loaded #allList {
  display: block; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/loading-bg.jpg")/*tpa=http://www.eshidu.com/APP/images/loading-bg.jpg*/ no-repeat center center;
  background-size: cover;
  z-index: 9999; }
  .loading .loader {
    position: absolute;
    top: 53%;
    left: 50%;
    margin-left: -18px; }
  .loading .loading-logo {
    position: absolute;
    top: 40%;
    width: 490px;
    left: 50%;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    opacity: 0;
    margin-left: -245px; }
    .loading .loading-logo img {
      width: 100%; }
  .loading .loading-logo.active {
    opacity: 1; }

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1); } }
@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1); }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4); }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1); } }
.line-scale-pulse-out > div {
  background-color: #0d6fa6;
  width: 6px;
  height: 42px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.7s 0s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.7s 0s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85); }

.line-scale-pulse-out > div:nth-child(2), .line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: 0.3s !important;
  animation-delay: 0.3s !important; }

.line-scale-pulse-out > div:nth-child(1), .line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: 0.5s !important;
  animation-delay: 0.5s !important; }

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 110px;
  z-index: 11;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }
  .header .logo {
    position: absolute;
    left: 150px;
    top: 35px;
    width: 274px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .header .logo img {
      width: 100%; }
  .header .nav {
    position: absolute;
    right: 110px;
    top: 38px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }
    .header .nav li {
      float: left;
      padding: 0 40px; }
      .header .nav li a {
        font-size: 20px;
        color: #fff;
        position: relative; }
      .header .nav li a::after {
        content: "";
        position: absolute;
        bottom: -16px;
        left: 50%;
        height: 2px;
        width: 0;
        background: #0d6fa6;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); }
    .header .nav li:hover a::after {
      width: 100%; }

.header.active {
  background: rgba(0, 0, 0, 0.5);
  height: 50px; }
  .header.active .logo {
    top: 6px;
    width: 200px; }
  .header.active .nav {
    top: 14px; }
    .header.active .nav li a {
      font-size: 16px; }

.mobile-header {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 111;
  background: rgba(0, 0, 0, 0.5); }
  .mobile-header .logo {
    position: absolute;
    left: 12px;
    top: 8px;
    width: 170px; }
    .mobile-header .logo img {
      width: 100%; }
  .mobile-header .mobile-menu {
    background-color: rgba(0, 0, 0, 0.7);
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    right: 0px; }
    .mobile-header .mobile-menu .mobile-header-icon {
      color: #ffffff;
      height: 100%;
      font-size: 25px;
      text-align: center;
      float: right;
      width: 100%;
      position: relative;
      -webkit-transition: background 0.5s;
      -moz-transition: background 0.5s;
      -o-transition: background 0.5s;
      transition: background 0.5s; }
    .mobile-header .mobile-menu .mobile-header-icon:hover {
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer; }
    .mobile-header .mobile-menu .mobile-header-icon span {
      position: absolute;
      left: calc((100% - 25px) / 2);
      top: calc((100% - 1px) / 2);
      width: 25px;
      height: 1px;
      background-color: white; }
    .mobile-header .mobile-menu .mobile-header-icon span:nth-child(1) {
      transform: translateY(4px) rotate(0deg); }
    .mobile-header .mobile-menu .mobile-header-icon span:nth-child(2) {
      transform: translateY(-4px) rotate(0deg); }
    .mobile-header .mobile-menu .mobile-header-icon-click span:nth-child(1) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: clickfirst; }
    .mobile-header .mobile-menu .mobile-header-icon-click span:nth-child(2) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: clicksecond; }
@keyframes clickfirst {
  0% {
    transform: translateY(4px) rotate(0deg); }
  100% {
    transform: translateY(0) rotate(45deg); } }
@keyframes clicksecond {
  0% {
    transform: translateY(-4px) rotate(0deg); }
  100% {
    transform: translateY(0) rotate(-45deg); } }
    .mobile-header .mobile-menu .mobile-header-icon-out span:nth-child(1) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: outfirst; }
    .mobile-header .mobile-menu .mobile-header-icon-out span:nth-child(2) {
      animation-duration: 0.5s;
      animation-fill-mode: both;
      animation-name: outsecond; }
@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg); }
  100% {
    transform: translateY(-4px) rotate(0deg); } }
@keyframes outsecond {
  0% {
    transform: translateY(0) rotate(45deg); }
  100% {
    transform: translateY(4px) rotate(0deg); } }
.mobile-nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  position: absolute;
  top: 47px;
  left: 0px;
  bottom: 0;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 40px;
  display: none; }

.mobile-nav a {
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  text-decoration: none;
  width: 80%;
  margin-left: 10%;
  color: #FFFFFF;
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 300;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: returnToNormal;
  animation-name: returnToNormal; }

.mobile-nav a:hover {
  color: rgba(255, 255, 255, 0.4);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2); }

@-webkit-keyframes returnToNormal {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes returnToNormal {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.home-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 35px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0;
  z-index: 999;
  display: none; }

.home-footer ul {
  width: 90%;
  margin: 0 auto;
  text-align: center; }

.home-footer ul li {
  width: auto;
  height: 35px;
  display: inline-block;
  margin: 0px 40px 0px 0px; }

.home-footer ul li a {
  width: auto;
  height: 35px; }

.home-footer ul li a img {
  width: 26px;
  height: auto;
  float: left;
  margin: 5px 10px 0px 0px; }

.home-footer ul li a span {
  width: auto;
  height: 35px;
  float: left;
  line-height: 35px;
  color: #fff; }

.home-footer ul li:nth-child(2n+2) {
  width: auto;
  height: 35px;
  margin: 0px 0px 0px 0px; }

.wrap {
  width: 1400px;
  position: relative;
  margin: 0 auto; }

.footer {
  background: #242424;
  padding: 60px 0;
  overflow: hidden; }
  .footer .footer-main {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; }
    .footer .footer-main .footer-logo {
      height: 136px;
      float: left;
      width: 345px;
      border-right: 1px solid #3e3e3e; }
      .footer .footer-main .footer-logo img {
        width: 72%;
        margin-top: 43px; }
    .footer .footer-main .footer-text {
      float: left;
      width: 590px;
      height: 136px;
      border-right: 1px solid #3e3e3e;
      padding-left: 120px;
      box-sizing: border-box; }
      .footer .footer-main .footer-text h1 {
        font-size: 13px;
        font-weight: normal;
        margin-bottom: 10px;
        color: #fff; }
        .footer .footer-main .footer-text h1 span {
          font-size: 36px;
          color: #fff; }
      .footer .footer-main .footer-text p {
        font-size: 13px;
        color: #fff;
        margin-bottom: 5px; }
    .footer .footer-main .footer-ewm {
      float: left;
      width: 263px;
      height: 136px; }
      .footer .footer-main .footer-ewm .footer-ewm-main {
        float: right; }
        .footer .footer-main .footer-ewm .footer-ewm-main img {
          display: block;
          margin-bottom: 10px;
          width: 108px; }
        .footer .footer-main .footer-ewm .footer-ewm-main p {
          text-align: center;
          color: #999;
          font-size: 12px; }

.service-page1 {
  overflow: hidden;
  height: 890px; }
  .service-page1 .service-page1-banner {
    height: 100%;
    position: relative;
    background: url("../img/show-banner.jpg")/*tpa=http://www.eshidu.com/APP/img/show-banner.jpg*/ no-repeat center center;
    background-size: cover;
    overflow: hidden; }
    .service-page1 .service-page1-banner .banner-text {
      position: absolute;
      top: 45%;
      left: 30%;
      width: 70%;
      opacity: 0;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      -ms-transition: all 1s;
      -webkit-transition: all 1s;
      transition: all 1s;
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff; }
      .service-page1 .service-page1-banner .banner-text .service-number {
        display: inline-block;
        width: 120px;
        text-align: center; }
      .service-page1 .service-page1-banner .banner-text p {
        font-size: 30px;
        margin-bottom: 30px; }
      .service-page1 .service-page1-banner .banner-text h1 {
        font-size: 50px;
        font-weight: normal; }
  .service-page1 .service-page1-banner.act .banner-text {
    opacity: 1;
    left: 50%; }

.service-page2 {
  overflow: hidden;
  padding: 95px 0 100px; }
  .service-page2 .page-title {
    font-size: 36px;
    color: #333333;
    text-align: center;
    line-height: 1;
    margin-bottom: 35px; }
  .service-page2 ul li {
    float: left;
    width: 24.24%;
    margin-right: 1%;
    border: 1px dashed #d5d5d5;
    box-sizing: border-box;
    padding: 50px 35px 35px;
    position: relative;
    border-radius: 5px;
    cursor: pointer; }
    .service-page2 ul li .border1 {
      position: absolute;
      left: -1px;
      top: -1px;
      width: 20px;
      height: 20px;
      border-top: 1px solid #0d6fa6;
      border-left: 1px solid #0d6fa6;
      border-top-left-radius: 5px; }
    .service-page2 ul li .border2 {
      position: absolute;
      right: -1px;
      top: -1px;
      width: 20px;
      height: 20px;
      border-top: 1px solid #0d6fa6;
      border-right: 1px solid #0d6fa6;
      border-top-right-radius: 5px; }
    .service-page2 ul li .border3 {
      position: absolute;
      left: -1px;
      bottom: -1px;
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #0d6fa6;
      border-left: 1px solid #0d6fa6;
      border-bottom-left-radius: 5px; }
    .service-page2 ul li .border4 {
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 20px;
      height: 20px;
      border-bottom: 1px solid #0d6fa6;
      border-right: 1px solid #0d6fa6;
      border-bottom-right-radius: 5px; }
    .service-page2 ul li img {
      width: 94px;
      margin: 0 auto 42px;
      display: block; }
    .service-page2 ul li img.hideimg {
      display: none; }
    .service-page2 ul li h1 {
      font-size: 24px;
      color: #333;
      font-weight: normal;
      margin-bottom: 15px;
      line-height: 1.2;
      text-align: center;
      height: 56px;
      overflow: hidden; }
    .service-page2 ul li p {
      font-size: 14px;
      color: #666;
      line-height: 1.5;
      margin-bottom: 20px;
      height: 65px;
      overflow: hidden; }
    .service-page2 ul li a {
      width: 94px;
      height: 40px;
      color: #fff;
      background: #0d6fa6;
      line-height: 40px;
      text-align: center;
      display: block;
      margin: 0 auto;
      border-radius: 3px; }
  .service-page2 ul li:last-child {
    margin-right: 0; }
  .service-page2 ul li:hover {
    background: #0d6fa6; }
    .service-page2 ul li:hover img {
      display: none; }
    .service-page2 ul li:hover img.hideimg {
      display: block; }
    .service-page2 ul li:hover h1, .service-page2 ul li:hover p {
      color: #fff; }
    .service-page2 ul li:hover a {
      background: #fff;
      color: #0d6fa6; }

.service-page3 {
  overflow: hidden;
  background: #f3f3f3;
  padding: 95px 0 100px; }
  .service-page3 .page-title {
    font-size: 36px;
    color: #333333;
    text-align: center;
    line-height: 1;
    margin-bottom: 35px; }
  .service-page3 ul {
    overflow: hidden; }
    .service-page3 ul li {
      float: left;
      width: 25%;
      box-sizing: border-box;
      padding: 10px 25px; }
      .service-page3 ul li .service3-cell {
        background: #0d6fa6;
        border-radius: 5px; }
        .service-page3 ul li .service3-cell .service3-cell-main {
          background: #3790c2;
          padding: 15px 30px;
          border-radius: 5px; }
          .service-page3 ul li .service3-cell .service3-cell-main h1 {
            font-size: 20px;
            color: #fff;
            font-weight: normal;
            position: relative;
            margin-bottom: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .service-page3 ul li .service3-cell .service3-cell-main h1::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 34px;
            height: 2px;
            background: #fff; }
          .service-page3 ul li .service3-cell .service3-cell-main p {
            font-size: 14px;
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
        .service-page3 ul li .service3-cell a {
          display: block;
          padding: 15px 0;
          text-align: center;
          font-size: 12px;
          border-radius: 5px;
          color: #fff;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          -ms-transition: all 0.4s;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
        .service-page3 ul li .service3-cell a:hover {
          background: #ec6200; }
    .service-page3 ul li:nth-child(13) {
      width: 50%; }
    .service-page3 ul li:nth-child(14) {
      width: 50%; }

.service-page4 {
  overflow: hidden;
  padding: 95px 0 100px; }
  .service-page4 .page-title {
    font-size: 36px;
    color: #333333;
    text-align: center;
    line-height: 1;
    margin-bottom: 35px; }
  .service-page4 .service4-left {
    float: left;
    width: 60%;
    position: relative; }
    .service-page4 .service4-left ul {
      padding-left: 20px; }
      .service-page4 .service4-left ul li {
        padding: 0 20px 30px;
        border-left: 1px solid #d6d6d6;
        position: relative; }
        .service-page4 .service4-left ul li h1 {
          font-size: 24px;
          color: #333;
          font-weight: normal;
          line-height: 1;
          margin-bottom: 18px; }
        .service-page4 .service4-left ul li p {
          color: #999999;
          font-size: 16px;
          line-height: 1.5; }
      .service-page4 .service4-left ul li::after {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #0d6fa6;
        background: #fff;
        position: absolute;
        left: -10px;
        top: 0;
        box-sizing: border-box;
        z-index: 3;
        border-radius: 50%; }
      .service-page4 .service4-left ul li::before {
        content: "";
        width: 30px;
        height: 40px;
        background: #fff;
        z-index: 2;
        position: absolute;
        left: -10px;
        top: 0;
        box-sizing: border-box;
        border-radius: 50%; }
      .service-page4 .service4-left ul li:last-child {
        border-left: 0 none; }
  .service-page4 .service4-right {
    float: right;
    position: relative;
    width: 40%; }
    .service-page4 .service4-right img {
      max-width: 100%; }

.service-page5 {
  overflow: hidden;
  padding: 95px 0 100px;
  background: url("../img/service-page5-bg.jpg")/*tpa=http://www.eshidu.com/APP/img/service-page5-bg.jpg*/ no-repeat bottom center;
  background-size: cover; }
  .service-page5 .page-title {
    font-size: 36px;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-bottom: 85px; }
  .service-page5 ul li {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 25px 55px 0;
    border: 10px solid #fff;
    height: 150px;
    position: relative; }
    .service-page5 ul li div {
      position: relative; }
    .service-page5 ul li h1 {
      font-size: 20px;
      color: #fff; }
    .service-page5 ul li p {
      font-size: 14px;
      color: #fff; }
  .service-page5 ul li:nth-child(1) {
    border-right: 0 none;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding-right: 0; }
  .service-page5 ul li:nth-child(1)::after {
    content: "";
    position: absolute;
    right: -90px;
    top: -54px;
    width: 96px;
    height: 96px;
    background: url("../img/icon-1.png")/*tpa=http://www.eshidu.com/APP/img/icon-1.png*/ no-repeat center center;
    background-size: 100%; }
  .service-page5 ul li:nth-child(2) {
    border: 0 none; }
  .service-page5 ul li:nth-child(3) {
    border: 0 none; }
  .service-page5 ul li:nth-child(4) {
    border-left: 0 none;
    top: -10px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 0; }
  .service-page5 ul li:nth-child(5) {
    border-right: 0 none;
    top: -20px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 85%; }
  .service-page5 ul li:nth-child(6) {
    border: 0 none;
    width: 15%;
    padding: 0; }
  .service-page5 ul li:nth-child(7) {
    border: 0 none; }
  .service-page5 ul li:nth-child(8) {
    border-left: 0 none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 0;
    top: -30px; }
  .service-page5 ul li:nth-child(9) {
    border-right: 0 none;
    top: -40px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    width: 85%;
    padding-right: 0; }
  .service-page5 ul li:nth-child(10) {
    border: 0 none;
    top: -40px;
    width: 15%;
    padding: 0; }
  .service-page5 ul li:nth-child(11) {
    border: 0 none;
    top: -50px;
    border-bottom: 10px solid #fff; }
  .service-page5 ul li:nth-child(11)::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -54px;
    width: 96px;
    height: 96px;
    background: url("../img/icon-2.png")/*tpa=http://www.eshidu.com/APP/img/icon-2.png*/ no-repeat center center;
    background-size: 100%; }
  .service-page5 ul li:nth-child(12) {
    top: -50px;
    border-left: 0 none;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    padding-left: 0; }

.service-page6 {
  overflow: hidden;
  background: #f1f1f1;
  padding: 95px 0 50px; }
  .service-page6 .page-title {
    font-size: 36px;
    color: #333333;
    text-align: center;
    line-height: 1;
    margin-bottom: 35px; }
  .service-page6 .cases-box {
    width: 95%;
    margin: 0 auto 25px;
    padding: 0 15px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .service-page6 .cases-box .cases-title {
      font-size: 24px;
      color: #414141;
      margin-bottom: 20px; }
    .service-page6 .cases-box .cases-content {
      margin: 0 -8px; }
      .service-page6 .cases-box .cases-content ul {
        overflow: hidden; }
        .service-page6 .cases-box .cases-content ul li {
          float: left;
          width: 33.33%;
          margin-bottom: 20px;
          padding-right: 15px;
          padding-left: 15px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box; }
          .service-page6 .cases-box .cases-content ul li .cases-top {
            position: relative;
            overflow: hidden; }
            .service-page6 .cases-box .cases-content ul li .cases-top a {
              display: block; }
              .service-page6 .cases-box .cases-content ul li .cases-top a span {
                -moz-transition: all 0.5s;
                -o-transition: all 0.5s;
                -ms-transition: all 0.5s;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;
                position: absolute;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background-size: cover;
                display: none; }
              .service-page6 .cases-box .cases-content ul li .cases-top a img {
                width: 100%;
                height: auto;
                display: block; }
          .service-page6 .cases-box .cases-content ul li .cases-bottom {
            background: #fff;
            overflow: hidden;
            position: relative;
            padding: 9px 25px 23px;
            height: 100px; }
            .service-page6 .cases-box .cases-content ul li .cases-bottom a {
              display: block;
              position: relative;
              z-index: 2; }
              .service-page6 .cases-box .cases-content ul li .cases-bottom a span {
                display: block;
                color: #000;
                font-size: 18px;
                margin-top: 12px;
                margin-bottom: 15px;
                height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis; }
              .service-page6 .cases-box .cases-content ul li .cases-bottom a p {
                color: #555;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                margin: 0 0 10px;
                font-size: 14px;
                height: 44px;
                line-height: 22px; }
            .service-page6 .cases-box .cases-content ul li .cases-bottom .cases-bottom-bg {
              -moz-transition: all 0.5s;
              -o-transition: all 0.5s;
              -ms-transition: all 0.5s;
              -webkit-transition: all 0.5s;
              transition: all 0.5s;
              position: absolute;
              z-index: 1;
              width: 100%;
              height: 100%;
              background: #0d6fa6;
              left: 0;
              top: 100%; }
        .service-page6 .cases-box .cases-content ul li:hover .cases-top a span {
          top: 0; }
        .service-page6 .cases-box .cases-content ul li:hover .cases-bottom .cases-bottom-bg {
          top: 0; }
        .service-page6 .cases-box .cases-content ul li:hover .cases-bottom a span {
          color: #fff; }
        .service-page6 .cases-box .cases-content ul li:hover .cases-bottom a p {
          color: #fff; }

.service-page7 {
  background: url("../img/service-page7-bg.jpg")/*tpa=http://www.eshidu.com/APP/img/service-page7-bg.jpg*/ no-repeat center center;
  height: 760px;
  overflow: hidden; }
  .service-page7 .wrap .service-page7-main {
    height: 225px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
    margin-top: 270px; }
    .service-page7 .wrap .service-page7-main .service-page7-img {
      width: 100%;
      height: 100%;
      background: url("../img/service-page7-main.png")/*tpa=http://www.eshidu.com/APP/img/service-page7-main.png*/ no-repeat center center;
      opacity: 0;
      -moz-transition: all 3s;
      -o-transition: all 3s;
      -ms-transition: all 3s;
      -webkit-transition: all 3s;
      transition: all 3s; }
    .service-page7 .wrap .service-page7-main li {
      position: absolute;
      border-left: 2px dashed #3069b4;
      border-bottom: 2px dashed #3069b4;
      padding: 0 0 5px 10px; }
      .service-page7 .wrap .service-page7-main li h1 {
        margin-bottom: 5px;
        color: #fff;
        font-size: 18px; }
        .service-page7 .wrap .service-page7-main li h1 img {
          vertical-align: middle;
          width: 26px;
          margin-right: 3px; }
        .service-page7 .wrap .service-page7-main li h1 span {
          vertical-align: middle; }
      .service-page7 .wrap .service-page7-main li p {
        color: #fff;
        font-size: 14px;
        padding-left: 30px;
        margin-bottom: 5px; }
    .service-page7 .wrap .service-page7-main .li1 {
      top: -450px;
      left: 160px;
      border-color: #3069b4;
      min-height: 135px;
      -moz-transition: all 1.2s 0s;
      -o-transition: all 1.2s 0s;
      -ms-transition: all 1.2s 0s;
      -webkit-transition: all 1.2s 0s;
      transition: all 1.2s 0s; }
    .service-page7 .wrap .service-page7-main .li2 {
      bottom: -400px;
      left: 242px;
      border-color: #15aa96;
      -moz-transition: all 1.2s 0.4s;
      -o-transition: all 1.2s 0.4s;
      -ms-transition: all 1.2s 0.4s;
      -webkit-transition: all 1.2s 0.4s;
      transition: all 1.2s 0.4s; }
    .service-page7 .wrap .service-page7-main .li3 {
      top: -450px;
      left: 482px;
      border-color: #8db545;
      min-height: 135px;
      -moz-transition: all 1.2s 0.8s;
      -o-transition: all 1.2s 0.8s;
      -ms-transition: all 1.2s 0.8s;
      -webkit-transition: all 1.2s 0.8s;
      transition: all 1.2s 0.8s; }
    .service-page7 .wrap .service-page7-main .li4 {
      bottom: -400px;
      left: 560px;
      border-color: #f4a516;
      -moz-transition: all 1.2s 1.2s;
      -o-transition: all 1.2s 1.2s;
      -ms-transition: all 1.2s 1.2s;
      -webkit-transition: all 1.2s 1.2s;
      transition: all 1.2s 1.2s; }
    .service-page7 .wrap .service-page7-main .li5 {
      top: -450px;
      left: 800px;
      border-color: #ba433a;
      min-height: 135px;
      -moz-transition: all 1.2s 1.6s;
      -o-transition: all 1.2s 1.6s;
      -ms-transition: all 1.2s 1.6s;
      -webkit-transition: all 1.2s 1.6s;
      transition: all 1.2s 1.6s; }
    .service-page7 .wrap .service-page7-main .li6 {
      bottom: -400px;
      left: 881px;
      border-color: #b4b6b8;
      -moz-transition: all 1.2s 1.8s;
      -o-transition: all 1.2s 1.8s;
      -ms-transition: all 1.2s 1.8s;
      -webkit-transition: all 1.2s 1.8s;
      transition: all 1.2s 1.8s; }

.service-page7.act .wrap .service-page7-main .service-page7-img {
  opacity: 1; }
.service-page7.act .wrap .service-page7-main .li1 {
  top: -175px; }
.service-page7.act .wrap .service-page7-main .li2 {
  bottom: -130px; }
.service-page7.act .wrap .service-page7-main .li3 {
  top: -175px; }
.service-page7.act .wrap .service-page7-main .li4 {
  bottom: -130px; }
.service-page7.act .wrap .service-page7-main .li5 {
  top: -175px; }
.service-page7.act .wrap .service-page7-main .li6 {
  bottom: -130px; }

.service-page8 {
  overflow: hidden;
  padding: 95px 0 100px;
  background: url("../img/service-page8-bg.jpg")/*tpa=http://www.eshidu.com/APP/img/service-page8-bg.jpg*/ no-repeat center center;
  background-size: cover; }
  .service-page8 .page8-title {
    font-size: 36px;
    color: #333;
    line-height: 1;
    padding-bottom: 35px;
    border-bottom: 2px solid #f2f2f2;
    width: 800px;
    margin: 0 auto 80px;
    text-align: center;
    position: relative; }
  .service-page8 .page8-title::after {
    content: "";
    width: 60px;
    height: 5px;
    background: #0d6fa6;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -30px; }
  .service-page8 .page8-text {
    font-size: 16px;
    color: #999;
    line-height: 2em;
    text-indent: 2em; }
  .service-page8 ul {
    margin: 100px auto;
    text-align: center; }
    .service-page8 ul li {
      display: inline-block;
      overflow: hidden;
      padding: 0 50px;
      border-right: 1px solid #dedede; }
      .service-page8 ul li img {
        float: left;
        width: 97px;
        margin-right: 15px; }
      .service-page8 ul li .about-icon {
        float: left; }
        .service-page8 ul li .about-icon h1 {
          color: #0d6fa6;
          font-size: 24px;
          font-weight: normal;
          margin-bottom: 6px; }
        .service-page8 ul li .about-icon p {
          font-size: 20px;
          color: #0d6fa6; }
          .service-page8 ul li .about-icon p span {
            font-size: 60px;
            line-height: 1; }
          .service-page8 ul li .about-icon p em {
            vertical-align: top; }
    .service-page8 ul li:last-child {
      border: 0 none; }

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .header .logo {
    top: 20px;
    width: 245px; }

  .header .nav {
    top: 28px; }

  .header .nav li {
    padding: 0 34px; }

  .wrap {
    width: 1200px; }

  #allList .page-title, #allList .page8-title {
    font-size: 30px; }

  .service-page1 .service-page1-banner .banner-text p {
    font-size: 24px;
    margin-bottom: 20px; }

  .service-page1 .service-page1-banner .banner-text h1 {
    font-size: 40px; }

  .service-page8 ul li {
    padding: 0 40px; }

  .service-page8 ul li img {
    width: 70px; }

  .service-page8 ul li .about-icon h1 {
    font-size: 20px; }

  .service-page8 ul li .about-icon p span {
    font-size: 50px; } }
@media screen and (min-width: 800px) and (max-width: 1299px) {
  .header {
    height: 70px; }

  .header .logo {
    top: 20px;
    width: 225px;
    left: 30px; }

  .header .nav {
    top: 28px;
    right: 30px; }

  .header .nav li {
    padding: 0 17px; }

  .header .nav li a {
    font-size: 18px; }

  .wrap {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box; }

  .service-page1 {
    height: 720px; }

  .service-page7 .wrap .service-page7-main {
    width: 100%; }

  .service-page7 .wrap .service-page7-main .service-page7-img {
    background-size: 100%; }

  .footer .footer-main {
    width: 100%; }

  .footer .footer-main .footer-logo {
    width: 20%; }

  .footer .footer-main .footer-logo img {
    width: 92%; }

  .footer .footer-main .footer-text {
    width: 54%;
    height: auto;
    padding-left: 10%; }

  .footer .footer-main .footer-ewm {
    width: 20%; }

  .service-page1 .service-page1-banner .banner-text p {
    font-size: 22px; }

  .service-page1 .service-page1-banner .banner-text h1 {
    font-size: 34px; }

  .service-page2, .service-page3, .service-page4, .service-page5, .service-page6, .service-page8 {
    padding: 50px 0; }

  #allList .page-title, #allList .page8-title {
    font-size: 26px; }

  .service-page2 ul li {
    padding: 35px 15px 25px; }

  .service-page2 ul li img {
    width: 75px;
    margin-bottom: 30px; }

  .service-page2 ul li h1 {
    font-size: 18px;
    height: 42px; }

  .service-page3 ul li {
    padding: 5px 8px; }

  .service-page3 ul li .service3-cell .service3-cell-main {
    padding: 10px 15px; }

  .service-page3 ul li .service3-cell .service3-cell-main h1 {
    font-size: 16px; }

  .service-page3 ul li .service3-cell .service3-cell-main p {
    font-size: 12px; }

  .service-page3 ul li .service3-cell a {
    padding: 10px 0; }

  .service-page4 .service4-left ul li h1 {
    font-size: 18px;
    margin-bottom: 10px; }

  .service-page4 .service4-left ul li p {
    font-size: 14px; }

  .service-page5 ul li {
    border-width: 5px;
    padding: 17px 50px 0;
    height: 110px; }

  .service-page5 ul li:nth-child(4) {
    top: -5px; }

  .service-page5 ul li:nth-child(5) {
    top: -10px; }

  .service-page5 ul li:nth-child(8) {
    top: -15px; }

  .service-page5 ul li:nth-child(9) {
    top: -20px; }

  .service-page5 ul li:nth-child(12), .service-page5 ul li:nth-child(11) {
    top: -25px; }

  .service-page5 ul li:nth-child(11) {
    border-width: 5px; }

  .service-page5 ul li:nth-child(1)::after {
    width: 60px;
    right: -60px; }

  .service-page5 ul li:nth-child(11)::after {
    width: 60px; }

  .service-page5 ul li h1 {
    font-size: 16px; }

  .service-page5 ul li p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }

  .service-page8 .page8-title {
    padding-bottom: 20px; }

  .service-page8 ul li {
    padding: 0 35px; }

  .service-page8 ul li img {
    width: 58px; }

  .service-page8 ul li .about-icon h1 {
    font-size: 18px; }

  .service-page8 ul li .about-icon p span {
    font-size: 32px; } }
@media screen and (max-width: 799px) {
  .loading .loading-logo {
    width: 280px;
    margin-left: -140px; }

  .header {
    display: none; }

  .sidebar {
    display: none; }

  .mobile-header {
    display: block;
    background: rgba(0, 0, 0, 0.8); }

  .mobile-nav {
    position: fixed; }

  .home-footer {
    display: block; }

  .wrap {
    width: 100%; }

  .service-page1 {
    height: 400px; }

  .service-page7 {
    height: 460px; }

  .service-page7 .wrap .service-page7-main {
    width: 100%;
    margin-top: 100px; }

  .service-page7 .wrap .service-page7-main .service-page7-img {
    background-size: 100%;
    opacity: 1 !important; }

  .service-page7 .wrap .service-page7-main li h1 {
    font-size: 14px; }

  .service-page7 .wrap .service-page7-main li p {
    padding-left: 6px;
    font-size: 12px; }

  .service-page7 .wrap .service-page7-main .li1 {
    top: -231px;
    min-height: auto;
    left: 5px;
    padding-left: 4px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }

  .service-page7 .wrap .service-page7-main .li2 {
    bottom: -234px;
    left: 30px;
    padding-left: 4px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }

  .service-page7 .wrap .service-page7-main .li3 {
    top: -231px;
    left: 125px;
    min-height: auto;
    padding-left: 4px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }

  .service-page7 .wrap .service-page7-main .li4 {
    left: 155px;
    bottom: -234px;
    padding-left: 4px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }

  .service-page7 .wrap .service-page7-main .li5 {
    top: -254px;
    left: 257px;
    min-height: auto;
    padding-left: 4px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }

  .service-page7 .wrap .service-page7-main .li6 {
    left: 274px;
    bottom: -234px;
    padding-left: 4px;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s; }

  .service-page7.act .wrap .service-page7-main .li1 {
    top: -31px; }

  .service-page7.act .wrap .service-page7-main .li3 {
    top: -31px; }

  .service-page7.act .wrap .service-page7-main .li5 {
    top: -54px; }

  .service-page7.act .wrap .service-page7-main .li2 {
    bottom: -34px; }

  .service-page7.act .wrap .service-page7-main .li4 {
    bottom: -34px; }

  .service-page7.act .wrap .service-page7-main .li6 {
    bottom: -34px; }

  .footer {
    padding: 30px 0 40px; }

  .footer .footer-main {
    width: 100%; }

  .footer .footer-main .footer-logo {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }

  .footer .footer-main .footer-logo img {
    width: auto;
    margin: 0 auto;
    display: block;
    max-width: 50%; }

  .footer .footer-main .footer-text {
    width: 100%;
    height: auto;
    padding: 0 10px;
    box-sizing: border-box; }

  .footer .footer-main .footer-text h1 span {
    font-size: 20px; }

  .footer .footer-main .footer-ewm .footer-ewm-main {
    float: none;
    text-align: center;
    margin-top: 20px; }

  .footer .footer-main .footer-ewm .footer-ewm-main img {
    display: inline-block;
    width: 90px; }

  .footer .footer-main .footer-ewm {
    width: 100%;
    height: auto; }

  .service-page6 .cases-box {
    width: 100%;
    padding: 0 10px; }
  .service-page6 .cases-box .cases-title {
    font-size: 18px;
    margin-bottom: 10px; }
  .service-page6 .cases-box .cases-content ul li {
    width: 50%;
    padding: 0 5px; }
  .service-page6 .cases-box .cases-content ul li .cases-bottom a span {
    font-size: 14px;
    margin: 5px 0;
    height: 16px; }
  .service-page6 .cases-box .cases-content ul li .cases-bottom a p {
    font-size: 12px; }
  .service-page6 .cases-box .cases-content ul li .cases-bottom {
    padding: 5px;
    height: 75px; }

  .service-page1 .service-page1-banner .banner-text {
    width: 90%; }

  .service-page1 .service-page1-banner .banner-text p {
    font-size: 18px; }

  .service-page1 .service-page1-banner .banner-text h1 {
    font-size: 22px; }

  .service-page1 .service-page1-banner .banner-text .service-number {
    width: 66px; }

  .service-page2, .service-page3, .service-page4, .service-page5, .service-page6, .service-page8 {
    padding: 35px 0; }

  #allList .page-title, #allList .page8-title {
    font-size: 18px;
    width: 100%;
    padding-bottom: 12px;
    margin-bottom: 30px; }

  .service-page2 ul li {
    padding: 25px 10px 20px;
    width: 48%;
    margin: 0 1% 10px; }

  .service-page2 ul li img {
    width: 55px;
    margin-bottom: 15px; }

  .service-page2 ul li h1 {
    font-size: 16px;
    height: 37px; }

  .service-page2 ul li p {
    font-size: 12px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
    height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }

  .service-page2 ul li a {
    width: 90px;
    height: 32px;
    line-height: 32px; }

  .service-page3 ul li {
    width: 50%; }

  .service-page3 ul li {
    padding: 3px 3px; }

  .service-page3 ul li .service3-cell .service3-cell-main {
    padding: 6px 10px; }

  .service-page3 ul li .service3-cell .service3-cell-main h1 {
    font-size: 14px;
    margin-bottom: 3px; }

  .service-page3 ul li .service3-cell .service3-cell-main p {
    font-size: 12px; }

  .service-page3 ul li .service3-cell a {
    padding: 10px 0; }

  .service-page4 .service4-left ul li h1 {
    font-size: 18px;
    margin-bottom: 10px; }

  .service-page4 .service4-left ul li p {
    font-size: 12px; }

  .service-page5 ul li {
    border-width: 5px;
    padding: 17px 50px 0;
    height: 110px; }

  .service-page5 ul li:nth-child(4) {
    top: -5px; }

  .service-page5 ul li:nth-child(5) {
    top: -10px; }

  .service-page5 ul li:nth-child(8) {
    top: -15px; }

  .service-page5 ul li:nth-child(9) {
    top: -20px; }

  .service-page5 ul li:nth-child(12), .service-page5 ul li:nth-child(11) {
    top: -25px; }

  .service-page5 ul li:nth-child(11) {
    border-width: 5px;
    padding: 0;
    width: 15%; }

  .service-page5 ul li:nth-child(1)::after {
    width: 45px;
    right: -45px; }

  .service-page5 ul li:nth-child(11)::after {
    width: 45px; }

  .service-page5 ul li h1 {
    font-size: 14px;
    margin-bottom: 5px; }

  .service-page5 ul li p {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; }

  .service-page8 .page8-title {
    padding-bottom: 20px; }

  .service-page8 ul li {
    padding: 0 4px; }

  .service-page8 ul li img {
    width: 28px;
    margin: 8px 6px 0 0; }

  .service-page8 ul {
    margin: 50px auto; }

  .service-page8 ul li .about-icon h1 {
    font-size: 14px; }

  .service-page8 ul li .about-icon p span {
    font-size: 20px; }

  .service-page8 ul li .about-icon p {
    font-size: 14px; }

  .service-page4 .service4-right {
    display: none; }

  .service-page4 .service4-left {
    float: none;
    width: 100%; }

  .service-page4 .service4-left ul li h1 {
    font-size: 16px; }

  .service-page4 .service4-left ul li::after {
    width: 16px;
    height: 16px; }

  .service-page4 .service4-left ul li::before {
    height: 30px;
    top: -8px; }

  .service-page5 ul li {
    width: 85%;
    padding: 17px 25px; }

  .service-page5 ul li:nth-child(2) {
    border: 0 none;
    padding: 0;
    width: 15%; }

  .service-page5 ul li:nth-child(3), .service-page5 ul li:nth-child(7) {
    border: 0 none;
    width: 15%;
    padding: 0; }

  .service-page8 .page8-text {
    font-size: 12px;
    padding: 0 15px; } }
@media screen and (min-width: 450px) and (max-width: 799px) {
  .service-page1 {
    height: 450px; }

  .service-page7 .wrap .service-page7-main .li1 {
    top: -63px;
    left: 14%; }

  .service-page7 .wrap .service-page7-main .li2 {
    bottom: -58px;
    left: 20%; }

  .service-page7 .wrap .service-page7-main .li3 {
    top: -63px;
    left: 41%; }

  .service-page7 .wrap .service-page7-main .li4 {
    bottom: -58px;
    left: 47%; }

  .service-page7 .wrap .service-page7-main .li5 {
    top: -85px;
    left: 67%; }

  .service-page7 .wrap .service-page7-main .li6 {
    bottom: -58px;
    left: 73%; }

  .service-page8 .page8-text {
    font-size: 14px; } }

/*# sourceMappingURL=showstyle.css.map */
